@media only screen and (max-width: 1200px) {
	
	.hero-text-box{
		width: 80%;
		margin-top: 5rem;
	}
	
}

@media only screen and (max-width: 1024px) {
	header{
		height: 60vh;
	}
	.row{
		
		margin: 0 2rem ;
		
	}
	.hero-text-box{
		width: 80%;
	}
	.main-nav{
		display:none;
	}
	html{
		font-size: 57.5%;
	}
	.client-photo{
		width: 100%;
		float: none;
		text-align: center;
	}
	.client-review{
		width: 100%;
		float: none;
		text-align: center;
	}
	.client-review p{
		width: 100%;
		float: none;
		text-align: center;
	}
	.contact-section form{
		width: 100%;
		margin-left: 0;

	}
	.mobile-menu span{
		display: block;
	}


   
}
@media only screen and (max-width: 980px) {
	header{
		height: 70vh;
	}
	.span_1_of_4{
		width: 49.2%;
	}
	.span_1_of_4:nth-child(3){
		margin-left: 0;
	}
	html{
		font-size: 62.5%;
	}

	}
@media only screen and (max-width: 768px) {
	header{
		height: 70vh;
	}
	.span_1_of_4{
		width: 49.2%;
	}
	.span_1_of_4:nth-child(3){
		margin-left: 0;
		
	}

	.title-desc{
		width: 100%;
		margin-left: 0;

	}
	h1{
		font-size: 3rem;

	}
	h2{
		font-size: 2.5rem;
	}
	h3{
		font-size: 2rem;
	}
	
}
@media only screen and (max-width: 540px) {
	header{
		height: 70vh;
	}
	.span_1_of_4{
		width: 49%;
	}
	
	h1{
		font-size: 3rem;

	}
	h2{
		font-size: 2.5rem;
	}
	h3{
		font-size: 2rem;
	}
	.btn-hero{
		margin-bottom: 40px;
	}
	.span_1_of_4:nth-child(3){
		margin: 0;
		padding: 0;
		
	}
	.span_1_of_4:nth-child(4){
		margin: 0;
		padding: 0;
		
	}
	
}
@media only screen and (max-width: 480px) {
	header{
		height: 65vh;
	}
	.hero-text-box{
		font-size: 2rem;
	}
	.span_1_of_4{
		width: 100%;
	}
	h1{
		font-size: 2.5rem;

	}
	h2{
		font-size: 2.5rem;
	}
	h3{
		font-size: 2rem;
	}
	.btn-hero{
		margin-bottom: 40px;
	}


	}
	@media only screen and (max-width: 320px) {
	header{
		height: 85vh;
	}
	.hero-text-box{
		font-size: 1.5rem;
	}
	.span_1_of_4{
		width: 100%;
	}
	h1{
		font-size: 2rem;

	}
	h2{
		font-size: 2rem;
	}
	h3{
		font-size: 1.5rem;
	}
	.portfolio-filter button{
		width: 80%;
		margin-bottom: 1rem;


	}
	